<div class="wrapper">
  {% if types is empty %}
    <p>{{ 'No type is available.'|t }}</p>

  {% else %}
    <div class="type-container">
      {% for type in types %}
        <div class="type-item {{ type.id == selected_type ? 'selected' : '' }}" data-type-id="{{ type.id }}">
          <div class="type-name">{{ type.name }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
